<link rel="stylesheet" href="/css/home.css">

<% if(images.length == 0) { %> 
    <h1 style="text-align: center;margin-top: 350px;color: darkred;">No Images Found😥</h1>
    <% } else { %> 
        <p>
            <% for(data of images){%>
                <div class="row">
                    <div class="column">
                        <img src="/uploads/<%= data.image.data %> " alt="image" class="image">
                    </div>               
                </div>
            <% } %>
        </p>
    <% } %>